{% extends 'analysis/base.html' %}
{% block content %}
<div id="container"></div>
<div id="third_solution" data-match="{{ query }}"></div>

<script language="JavaScript">
    var div = document.getElementById('third_solution');
    var json_data = JSON.parse(div.dataset.match);
    let bowling_team = [];
    let extra_runs = [];
    for (let bowling_extra of json_data) {
        bowling_team.push(bowling_extra['bowling_team']);
        extra_runs.push(bowling_extra['extra_run']);
    }
    $(document).ready(function () {
        var chart = {
            height: 950,
            type: 'column'
        };
        var title = {
            text: ' Extra Runs Given By Teams '
        };
        var subtitle = {
            text: 'Source: IPL'
        };
        var xAxis = {
            categories: bowling_team,
            title: {
                text: null
            }
        };
        var yAxis = {
            min: 0,
            title: {
                text: ' Extra Runs ',
                align: 'middle'
            },
            labels: {
                overflow: 'justify'
            }
        };
        var tooltip = {
            valueSuffix: ' Extra Runs '
        };
        var plotOptions = {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        };
        var legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -70,
            y: 70,
            floating: true,
            borderWidth: 1,

            backgroundColor: (
                (Highcharts.theme && Highcharts.theme.legendBackgroundColor) ||
                '#FFFFFF'),
            shadow: true
        };
        var credits = {
            enabled: false
        };
        var series = [{
            name: ' Extra Runs ',
            data: extra_runs
        }];

        var json = {};
        json.chart = chart;
        json.title = title;
        json.subtitle = subtitle;
        json.tooltip = tooltip;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.series = series;
        json.plotOptions = plotOptions;
        json.legend = legend;
        json.credits = credits;
        $('#container').highcharts(json);
    });
</script>
{% endblock %}